src/main/mule/update-employee.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="update-employeeFlow" doc:id="35a77e33-1bb5-4456-a6d5-892164636f97" >
		<db:update doc:name="Update" doc:id="64826702-ef7b-4c17-9cba-6ee0af171713" config-ref="Database_Config">
			<db:sql >update employee set empname =:empname where empno=:empid</db:sql>
			<db:input-parameters ><![CDATA[#[{
	"empid": payload.emp.EMPID,
	"empname": payload.emp.EMPNAME
}]]]></db:input-parameters>
		</db:update>
		<logger level="INFO" doc:name="Logger" doc:id="e3a05f1f-7993-4798-b7d1-11543713a855" message="updated successfully"/>
		<ee:transform doc:name="Transform Message" doc:id="427e2614-0fcc-4e4d-bb93-0c1d37322ef1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	response:
	{
		status: 200,
		message: "Updated Successfully"
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
